.skills{
    background-color: #333129;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper{
        position: relative;
        width: 70%;
    }
    &__container{
        background-position: 50% 35%;
        background-image:url('../images/skills-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 73%;
        min-height: 800px;
    }
    &__line{
        padding:0 20px;
        width: 27%;
        height: 100%;
        position: absolute;
        left: 73%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        background-color: #fff;
        &--box:first-child{
            margin-top: 20px;
        }
        &--box{
            margin-top: 10px;
            width: 100%;
            min-height: 30%;
            max-height: 33%;
        }
        &--title{
            padding: 20px 0;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 1.25rem;
        }
        &--icon{
            padding: 10px;
            opacity: 0.5;
            font-size: 2rem;
            color:#808080;
        }
        &--descr{
            line-height: 1.6;
            font-family: 'Open Sans', sans-serif;
            color: #808080
        }
    }
}