.solution {
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    font-family: "Open Sans", sans-serif;
    &__wrapper:first-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    &__wrapper {
        width: 50%;
    }
    &__subtitle {
        color: #111111;
        margin-top: 70px;
        font-size: 16px;
        line-height: 1.8;
    }
    &__title {
        cursor: pointer;
        margin-top: 20px;
        border-style: solid;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        display: inline-block;
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            height: 5px;
            width: 100%;
            background-color: black;
        }
    }
    &__underheader {
        font-family: "Roboto", sans-serif;
        letter-spacing: 12px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.25rem;
    }
    &__header {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 4.5rem;
        margin-bottom: 5%;
        margin-right: 10%;
    }
    &__content {
        font-size: 16px;
        display: flex;
        margin-top: 100px;
        &--box {
            width: 50%;
        }
        &--title {
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 3rem;
        }
        &--subtitle {
            margin: 20px 0;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 2px;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        &--descr {
            margin-bottom: 20px;
            font-size: 1rem;
            line-height: 1.6;
        }
    }
}
